/* Text Formatting with CSS */

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
}

body {
    padding: 40px;
    font-family: Georgia, Times, Serif;
    color: #374;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    font-family: Helvetica, Arial, sans-serif;
    
    font-weight: bold;
}

h1 {
    font-size: 3.6em; /* 3.6x the base font size (which is 18px in this case) */ 
}

h2 {
    font-size: 2.6; /* 2x the base font size */
}

h3 {
    font-size: 1.6em; /* 1.6x the base font size */
    letter-spacing:-1px; /* Can be "normal" or a numerical value */
    text-indent: 80px; /* Indents the first line of the paragraph. Can be the numerical value, or % */
    line-height: 1.3;
}

span {
    text-decoration: line-through; 
    /*
        A note on Text Decoration-
    
        You may use the following values:
    - underline
    - overline 
    - line-through
    - none
    
    Underlines are usually best left for links only
    */
}

em{
    text-transform: Capitalize;
    /*
        A note on Text Transfrom
    
        You may use the following values:
    - uppercase
    - lowercase 
    - capitalize
    - none
    */
}

strong {
    text-transform: uppercase;
    font-weight: bold;
}

/* CSS Borders Lecture */

.border-box {
    background: #fc3;
    margin: 0 0 20px;
    padding: 40px;
    width: 320px;
    text-align: center;
}

#box1 { border: solid 1px black;}
#box2 { border: dashed 1px black;}
#box3 { border: dotted 1px black;}
#box4 { border: double 3px black;}
#box5 { border: solid  4px black;}
#box6 { border: dashed 4px black;}
#box7 { border: dotted 5px black;}
#box8 { border: double 6px black;}

/* Styling Links Lecture */

#styling-links {
    background: #333;
}

#styling-links #container {
    background: white;
    text-align: center;
    width: 640px;
    margin: 0 auto;
    padding 40px;
}

a {
   display: inline-block;
    width: 60px;
}

/* unvisited */
a:link {
   color: #fc3; 
}
/* visited */
a:visited {
    color: #fc3;
}
/* hovered / mouse-over */
a:hover {
    color: purple;
}
/* active */
a:active {
    color: black;
}

a#link-1:link {
   background: #333;
    padding: 10px;
    text-decoration: none;
}

a#link-1:hover {
    background: #f3c;
    color: bisque
}

a#link-1: active {
    background: #777
}

/* Styling Web Forms Lecture */

#container {
    width: 500px;
    margin: 0 0 auto;
}

form {
    margin-top: 40px
}
fieldset {
    padding: 40px;
    border: solid 1px;
    background: url(earth.png);
}

fieldset legend {
    padding: 40px;
    background: white;
    border: solid 1px #aaa;
    
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    padding: 10px;
    border:solid 1px #777;
    border-top: none;
    margin: 0 0 20px;
    display: block;
    width: 50%;
    font-size: 14px;
    color:#454545;
    font-family: monaco, monospace;
    text-transform: uppercase;
}

text-area {
    resize: none;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    background: url(blue_background.jpg);
    display: block;
    width: 46%;
    padding: 2%;
    color: white;  
}

input[type="submit"] {
    background: none;
    background: url(images/button_background.jpg) repeat-x;
    border: solid 1px #777;
    height: 40px;
    padding: 0 40px;
    color: #fff;
}

input[type="submit"]:hover {
    cursor: pointer;
    border-color: #367; 
}

input[type="submit"]:active {
    border-color: #000;
    outline-color: #ff0000;
}

/* CSS Floats */

#floats {
    background: #d41
}

#floats #container {
    background: white;
    padding: 20px;
}

#brad1 {
    float: right;
    margin: 20px 0px 10px 20px;
}

#mainColumn {
    width: 150px;
    float:left;
    background: #555;
    color: white;
    padding: 50px;
    margin: 20px;
}

#sidebar {
    width: 120px;
    float: right;
    background: #fc3;
    color: #000;
    margin-bottom: 25px;
    padding: 40px;
}

.clearfix:after {
    content:"";
    display: table;
    clear: both;
}

#footer {
    clear: both;
    padding: 15px;
    background: #333;
    color: white;
    margin: 20px 0;
    padding: 20px;
}

#paragraph-1 {
    clear: right;
    margin-top: 20px;
}

/* Positioning Lecture */

#positioning {
    background: #333;
}

#positioning #container {
    background: white;
    padding: 20px;
}

#positioning h2 {
    font-size: 18px;
}

.box {
    background: #fc3;
    color: white;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#relative {
    position: relative;
    top: 20px;
    left; -50px;
}

#absolute {
    position: absolute;
    width: 200px;
    height: 100px;
}