*{
    margin: 0;
    padding: 0;
}

#mainContainer {
    margin: 30px;
    
    
}
body {
    Background-color: #000;
    color: #ffffff;
}

h1,h2,h3 {
    font-size: 30px;
    font-family: Georgia, Arial, Helvetica;
    margin: 10px; 
    font-weight: 9;
}

h1{
    color: #347;
    font-size: 3em;
}

h2 {
    color: green
}

h4 {
   color: yellow
}

#mainContainer, .post-body ,p {
    text-align: center;
    
}

header, p {
    text-align: center;
}

h4, p, li {
    text-align: left
}

 footer {
    color: #777;
    font-size: 1.4em;
   
}

p {
    text-indent: 50px;
}

em {
    font-weight: bold;
    text-decoration: underline;
    Color: #0000ff;
}

#floats {
 background: rgba(0,0,0,.8)
}

#floats #container {
    background: #fc3;
    padding: 20px;
    color: green;
}

.clearfix:after {
    content:"";
    display: table;
    clear: both;
}

#container {
    width: 600px;
    margin: 50px;
}
#container h1 {
    color: green;
    }

#paragraph-1 {
    float: right;
    margin: 5px;
    width: 250px;
    background-color: white;
    padding: 10px;
}

#skull-emoji {
    float: right;
    margin: 10px 0px 60px 10px;
    width: 150px;
}
#side-content {
    float: left;
    padding: 10px;
    width: 250px;
    background-color: white;
    margin: 5px; 
}

#More-information {
    background: white;
    margin: 10px;
    padding: 20px;
    float: right;
}

#footer {
    clear: both;
    background: #333;
    height: 35px;
    margin: 20px;
    padding: 10px;
}

#Bonus-material {
    clear: right;
    background: orange;
   background: #333
}



    





